<div class="col-8 offset-2 mt-3 mb-3" style="background-color: #f8f9fa;">
  <h2 class="text-center text-primary">Ma Todo List</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="newTodo.title" placeholder="Ajouter une tâche">
        <input type="text" class="form-control" [(ngModel)]="newTodo.description" placeholder="Description de la tâche">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addNewTodo()">
            <i class="bi bi-plus"></i> Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
          <input type="checkbox" [(ngModel)]="todo.done" (change)="updateTodoState($event, todo)">
          <span [ngClass]="{'todo-done': todo.done, 'todo-title': true}" (click)="goToTodoDetail(todo)">
            {{ todo.title }}
          </span>
          <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">
            <i class="bi bi-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>


